.fade {
    animation: fade-in var(--dur-medium) var(--ease-out);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown-content {
    z-index: 9999 !important;
}

.dropdown-content * {
    background: var(--surface) !important;
}

.dropdown-container {
    background: unset !important;
    border-color: var(--outline) !important;
    margin: 0 !important;
}

@keyframes skeleton-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

.Toastify {
    margin-top: 0 !important;
}

.dropdown-heading {
    height: 48px !important;
}

body:has(:popover-open) *:is(#uploader) {
    pointer-events: all;
}

body:has(:popover-open) {
    pointer-events: none;
}

#uploader {
    pointer-events: all;
}
